/*content*/

.content{
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 70px;
    padding-bottom: 4rem;
}

.Ccard{
    background-color: white;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    /*box-shadow: 0px 5px 32px -2px rgba(0,0,0,0.27);*/
    padding: 2rem;
    border-radius: 1rem;  
}

@media (min-width: 768px) {
    .Ccard{
      margin: 0;
      margin-top: 20px;
    }
}

.Ccard-image{
    height: 288px;
    width: 345px;
}

.Ccard:hover{
    box-shadow: 0px 5px 32px -2px rgba(0,0,0,0.27);
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;  
  }

.content-text{
    margin-top: 30px;
    text-align: center;
}

.content-text h1{
    font-size: 50px;
}

/*
        display: flex;
        margin: 0;
        width: 100%;
        margin-bottom: 10px;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
*/
