<div class="content-text">
    <h1>Bienvenido Usuario!</h1>
    <h2>Los clientes que realizaron una solicitud: </h2>
</div>
<mat-divider></mat-divider>
<div class="Ccardalone" *ngIf="request.length === 0">
    <h1>VAYA, PARECE QUE AUN NINGUN CLIENTE LE HA REALIZADO UNA SOLICITUD</h1>
</div>
<div class="width">
    <table mat-table [dataSource]="request" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Titulo </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="clientId">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/client/information', element.client.user.id]">{{element.client.name}}</a></td>
        </ng-container>
        <ng-container matColumnDef="serviceId">
            <th mat-header-cell *matHeaderCellDef> Servicio</th>
            <td mat-cell *matCellDef="let element"> {{element.service.name}} </td>
        </ng-container>
        <ng-container matColumnDef="payed">
            <th mat-header-cell *matHeaderCellDef> Estado</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.paid===false">
                    El servicio aún no ha sido pagado
                </div>
                <div *ngIf="element.paid===true">
                    El servicio ha sido pagado
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.paid===false">
                    <button class="button" (click)="openDialog(element.id)" mat-raised-button>Cancelar solicitud</button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>