<div class="content-text">
    <h1>Perfil</h1>
</div>

<mat-divider></mat-divider>
<form [formGroup]="profileForm">
    <div class="content">
        <mat-card class="Ccard" >
        <div>
            <img class="Ccard-image" mat-card-image [src]="client.urlToImage" alt="Photo of a client" *ngIf="edit==false">
            <mat-form-field appearance="fill" *ngIf="edit">
                <mat-label>New img</mat-label>
                <input autocomplete="off" matInput formControlName="urlToImage">
                <mat-error *ngIf="urlToImage?.errors?.['pattern'] && !urlToImage?.errors?.['required']">The given url is not valid</mat-error>
            </mat-form-field>
        </div>
        <mat-card-content>
            <h2>Tus datos</h2>
            <div><h3>{{client.name}}</h3></div>   
            <h2>Contacto</h2>
            <ul>
                <li><h3>{{client.user.email}}</h3></li>
                <li *ngIf="edit==false"><h3>{{client.phone}}</h3></li>
                <li  *ngIf="edit">
                    <mat-form-field appearance="fill" *ngIf="edit">
                        <mat-label>New number</mat-label>
                        <input autocomplete="off" matInput formControlName="number">
                        <mat-error *ngIf="number?.errors?.['pattern'] && !number?.errors?.['required']">Only numbers allowed</mat-error>
                        <mat-error *ngIf="!number?.errors?.['required']">Number must be valid</mat-error>
                    </mat-form-field>
                </li>
                <li *ngIf="edit==false"><h3>{{client.altphone}}</h3></li>
                <li *ngIf="edit">
                    <mat-form-field appearance="fill">
                        <mat-label>New alternative number</mat-label>
                        <input autocomplete="off" matInput formControlName="altnumber">
                        <mat-error *ngIf="altnumber?.errors?.['pattern'] && !altnumber?.errors?.['required']">Only numbers allowed</mat-error>
                        <mat-error *ngIf="!altnumber?.errors?.['required']">Alt-Number must be valid</mat-error>
                    </mat-form-field>
                </li>
            </ul>
        </mat-card-content>
        <mat-card-content>
            <h2>Dirección</h2>
            <mat-form-field appearance="fill" *ngIf="edit">
                <mat-label>New adress</mat-label>
                <input autocomplete="off" matInput formControlName="adress">
                <mat-error *ngIf="adress?.errors?.['maxLength'] && !adress?.errors?.['required']">Adress must have less than 60 characters</mat-error>
            </mat-form-field>
            <div *ngIf="edit==false"><h3>{{client.address}}</h3></div>
        </mat-card-content>
        </mat-card>
    </div>
    <div class="content">
        <mat-card class="Ccard2">
            <mat-card-content >
                <h2>Detalles</h2>
                <mat-form-field appearance="fill" *ngIf="edit" class="ancho">
                    <mat-label>New description</mat-label>
                    <input autocomplete="off" matInput formControlName="description">
                    <mat-error *ngIf="description?.errors?.['maxLength'] && !description?.errors?.['required']">Description must have less than 100 characters</mat-error>
                </mat-form-field>
                <div *ngIf="edit==false"><h3>{{client.description}}</h3></div>
            </mat-card-content>
        </mat-card>
    </div>
    <section class="button margin">
        <button mat-raised-button (click)="edit=!edit" *ngIf="edit==false">Editar Perfil</button>
        <button mat-raised-button (click)="edit=!edit" *ngIf="edit">Cancelar cambios</button>
        <button mat-raised-button (click)="UpdateProfile()" *ngIf="edit" [disabled]="!profileForm.valid">Actualizar perfil</button>
    </section>
</form>