<div *ngIf="getCurrentUserEmail()===null">
  <router-outlet></router-outlet>
</div>

<div *ngIf="getCurrentUserEmail() === 'ROLE_CLIENT'" class="all">
<mat-toolbar class="nav-bar" *ngIf="(router.url !== '/login' && router.url !== '/register')">
    <span class="spaces">Sure Service</span>
    <span class="spacer"></span>
    <a class="text" (click)="deleteRequest()" [routerLink]="'/home'" href="#">Inicio</a>
    <a class="text" (click)="deleteRequest()" [routerLink]="'/profile'" href="#">Perfil</a>
    <a class="text" (click)="deleteRequest()" [routerLink]="'/services'" href="#">Servicios</a>
    <a class="text" (click)="signOut()" href="#">Log-out</a>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

<div *ngIf="getCurrentUserEmail() === 'ROLE_EMPLOYEE'" class="all">
  <mat-toolbar class="nav-bar" *ngIf="(router.url !== '/login' && router.url !== '/register')">
      <span class="spaces">Sure Service</span>
      <span class="spacer"></span>
      <a class="text" [routerLink]="'/homeemployee'" href="#">Inicio</a>
      <a class="text" [routerLink]="'/request'" href="#">Solicitudes</a>
      <a class="text" [routerLink]="'/profileemployee'" href="#">Perfil</a>
      <a class="text" (click)="signOut()" href="#">Log-out</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>