.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    height: 100%;
}
.login {
  width: 100%;
  max-width: 330px;
  padding: 2rem 1rem;
  margin: auto;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 5px 32px -2px rgba(0,0,0,0.27);
}

.ancho {
  width: 80%;
}

.button{
  height: 50px;
}

.cat {
  height: 620px;
  width: 800px;
}
.login-grid-tile{
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin{
  margin-right: 20px;
}
