/*content*/

.content{
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 70px;
  padding-bottom: 4rem;
}

.Ccard{
  background-color: white;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 2rem 2rem 5px 2rem;
  border-radius: 1rem;
}

.Ccardalone{
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 10rem;
  text-align: center;
}

@media (min-width: 768px) {
  .Ccard{
    margin: 0;
    margin-top: 20px;
  }
}

.Ccard:hover{
  box-shadow: 0px 5px 32px -2px rgba(0,0,0,0.27);
  background-color: white;
  padding: 2rem 2rem 5px 2rem;
  border-radius: 1rem;  
}

.content-text{
  margin-top: 30px;
  text-align: center;
}

.content-text h1{
  font-size: 50px;
}

.margin{
  margin: 30px auto;
}

.actions{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}