<div class="content-text">
  <h1>Bienvenido Usuario!</h1>
  <h2>Tus solicitudes realizadas: </h2>
</div>

<mat-divider></mat-divider>
<div class="Ccardalone" *ngIf="request.length === 0">
  <h1>VAYA, PARECE QUE AUN NO HA REALIZADO NINGUNA SOLICITUD</h1>
</div>

<div class="actions" *ngIf="request.length !== 0">
  <button class="button-show" id="mostrar" mat-raised-button *ngIf="show" (click)="mostrar()">Ver pagados</button>
  <button class="button-show" id="mostrar" mat-raised-button *ngIf="!show" (click)="mostrar()">Ver no pagados</button>
</div>

<div class="content" *ngIf="!show">
  <div *ngFor="let item of request">
    <mat-card class="Ccard" *ngIf="item.paid">
        <img class="Ccard-image" mat-card-image [src]="item.urlToImage" alt="Photo of a employee">
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          {{item.description}}
        </mat-card-content>

        <div *ngIf="item.paid==false">
          <mat-card-actions>
            <button class="button" mat-raised-button [routerLink]="['/payment', item.id]">Pay</button>
            <button class="button" mat-raised-button (click)="openDialog(item.id)">Cancel</button>
          </mat-card-actions>
        </div>

        <h2 *ngIf="item.paid">Gracias por usar nuestros servicios!</h2>
    </mat-card>
  </div>
</div>

<div class="content" *ngIf="show">
  <div *ngFor="let item of request">
    <mat-card class="Ccard" *ngIf="item.paid===false">
        <img class="Ccard-image" mat-card-image [src]="item.urlToImage" alt="Photo of a employee">
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          {{item.description}}
        </mat-card-content>

        <div *ngIf="item.paid==false">
          <mat-card-actions>
            <button class="button" mat-raised-button [routerLink]="['/payment', item.id]">Pagar</button>
            <button class="button" mat-raised-button (click)="openDialog(item.id)">Cancelar</button>
          </mat-card-actions>
        </div>

        <h2 *ngIf="item.paid">Gracias por usar nuestros servicios!</h2>
    </mat-card>
  </div>
</div>